.ui-widget-header{
  border-width: 0;
  border-color: #C5DBEC;
}


#breadcrumb{
  border: 1px solid red;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  overflow:hidden;
  background-color: #EAF4FD;
  border: 1px solid #C5DBEC;
  color: #2E6E9E;
}
.crumb{
  position: relative;
  float: left;
  padding-right: 2px;
  height: 21px;
  margin-left: 18px;
}

.fg-tooltip-pointer-down, 
.fg-tooltip-pointer-down-inner {
	position: absolute; 
	width:0; 
	height:0; 
	border-bottom-width: 0;
	background: none;
}
.fg-tooltip-pointer-down {	
	border-bottom: 11px dotted transparent; 
	border-top: 11px dotted transparent;
	border-left-width: 14px;
	right:	-14px;
	top: auto;
	bottom: 50%;
	margin-bottom: -10px;
}
.ie .fg-tooltip-pointer-down {
  bottom: 49%;
}
.fg-tooltip-pointer-down-inner {
  
	border-bottom: 10px dotted transparent; 
	border-top: 10px dotted transparent;
	border-left: 12px solid #fff;
	right:	auto;
	left: -14px;
	bottom: -10px;
	border-left-color: #EAF4FD;
}





















